body {
  background-color: black;
}

.game-container {
  display: flex;
  justify-content: center;
  background-color: green;
}

#canvas {
  background: #000;
  background-image: linear-gradient(red .08em, transparent .08em), 
                    linear-gradient(90deg, red .08em, transparent .08em);
  background-size: 1.875em 1.875em;
  border: 10px solid white;
}

.instructions-score {
  margin-left: 100px;
}

/* #score {
  background-color: red;
} */