body {
  background-image: url("../images/avengers-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.game-container {
  display: flex;
  align-items: center;
}

#canvas {
  /* background: #000; */
  border: 10px solid silver;
}

.instructions-score {
  /* margin-left: 100px; */
  width: 200px;
}

.arrow-controls {
  width: 200px;
}

/* #score {
  background-color: red;
} */

.title {
  /* margin-right: 100px; */
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  font-size: 30px;
}

.links-list li {
  list-style: none;
  font-size: 60px;
  margin-bottom: 20px;
}

.links-list a {
  text-decoration: none;
  color: black;
}